<h2>Canciones sugeridas</h2>
{{#each array}}
<<<<<<< HEAD
  {{@index}}: {{this.nombre}} ({{this.cant}} coincidencias)<br>
=======
  <h3>{{this.nombre}} ({{this.cant}} coincidencias)</h3>
>>>>>>> 100b9181df803be046f1b8d514e2f0d99322b6fe
{{/each}}