<h2>Canciones sugeridas</h2>
{{#each array}}
  <a href="{{this.linkhttp}}" style="font-size:{{this.size}}px">{{this.nombre}}</a><br>Album: {{this.album}}<br>Porque dijiste: {{this.cant}}<br>
{{/each}}