<h2>Canciones sugeridas</h2>
{{#each array}}
  <a href="{{this.linkhttp}}" title="{{this.cant}} coincidencias" style="font-size:{{this.size}}px">{{this.nombre}}</a><br>En {{this.album}}<br>
{{/each}}